{% extends 'base.html' %}



{% block content %}


    {% if error %}
        {{ error }}
        <br>
        <br>
    {% endif %}


    <h1>Create</h1>

    <form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        Title:
        <br>
        <input type="text" name="title">
        <br>
        Text:
        <br>
        <input type="textbox" name="text">
        <br>
        URL:
        <br>
        <input type="url" name="url">
        <br>
        Icon:
        <br>
        <input type="file" name="icon">
        <br>
        Image:
        <br>
        <input type="file" name="image">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Add Product">
    </form>

{% endblock content %}